.*.script_ok
Makefile
Makefile.am
Makefile.in
share
svntmp
test-canonicalize-package.out
test-canonicalize-version.out
test-cvs
test-cvs.out
test-git.out
test-svn.out
test-template-fw-build
test-template-fw-build.out
test-template-fw-template
test-template-fw-template.out
test-template-script
test-template-script.out
test-template-none
test-template-none.out
tmp
